exprgrad/wrappers/llvm
exprgrad/wrappers/my_module.bc
exprgrad/wrappers/llvm_ext.o
exprgrad/runtimes/cl
exprgrad/fpga/logicdsl
exprgrad/fpga/build/
examples/xor/xor
examples/matmul/matmul
examples/matmul/matmul.bin
examples/matmul/graph.gv
examples/matmul/graph.svg
examples/matmul/output.v
examples/matmul/ulx3s.lpf
benchmarks/conv2/conv2
benchmarks/conv2/nimcache
benchmarks/matmul/matmul_gpu
tests/test_tensors
tests/test_model
tests/test_serialize
tests/test_json
tests/test_dnn
tests/test_csv
tests/test_gpu
tests/test_fpga
tests/test_idxformat
tests/data.bin
tests/module.bc
tests/module.ll
tests/output.v
tests/output.gv
tests/output.svg
tools/model2fpga
old/
docs/assets/social-banner/
data.bin

